
.ds-digital{
  font-family: 'DS-Digital-BoldItalic'
}
.font-size-40 {
  font-size: 40px
}
.font-size-16 {
  font-size: 16px
}
.font-size-18 {
  font-size: 16px
}
.font-size-32 {
  font-size: 32px
}
.font-size-36 {
  font-size: 36px
}
.font-color-green {
  color: #60F34C
}
.font-color-yellow {
  color: #FDD933
}
.font-color-red {
  color: #F74953
}
.font-color-white {
  color: #FFFFFF
}

