

@font-face {  
  font-family: 'DS-Digital-BoldItalic';
  src: url('#{$--font-path}/DSDigitalBoldItalic.ttf');
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}
// @font-face {  
//   font-family: 'PingFangSC';
//   src: url('#{$--font-path}/PingFangSC.ttf');
//   font-weight: normal;
//   font-display: $--font-display;
//   font-style: normal;
// }
// @font-face {  
//   font-family: 'PingFangSC-M';
//   src: url('#{$--font-path}/PingFangSC-Medium.ttf');
//   font-weight: normal;
//   font-display: $--font-display;
//   font-style: normal;
// }
// @font-face {  
//   font-family: 'PingFangSC-Semibold';
//   src: url('#{$--font-path}/PingFangSC-Semibold.ttf');
//   font-weight: normal;
//   font-display: $--font-display;
//   font-style: normal;
// }



