// 字体相关
$--font-path: '~@/assets/fonts' !default; //--font-path为element-ui 字体路径
$--font-display: 'auto' !default;
$--font-size--sm: 12px;
$--font-size--base: 14px;
$--font-size--xl: 16px;
$--font-size--xxl: 18px;
// 颜色
$--color-primary: #409EFF !default;
$--color-white: #FFFFFF !default;
$--color-black: #000000 !default;

$--color-success: #67C23A !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;
$--color-info: #909399 !default;
$--color-cyan: #40788C !default;
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #C0C4CC !default;
$--border-color-base: #DCDFE6 !default;
$--border-color-light: #E4E7ED !default;
$--border-color-lighter: #EBEEF5 !default;
$--border-color-extra-light: #F2F6FC !default;
$--background-color-base: #F5F7FA !default;

// 字体大小
