@font-face {
  font-family: "iconfont"; /* Project id 2777806 */
  src: url('iconfont.woff2?t=1630313826329') format('woff2'),
       url('iconfont.woff?t=1630313826329') format('woff'),
       url('iconfont.ttf?t=1630313826329') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hx-drain-irrigate--offline:before {
  content: "\e62a";
}

