.content:not(.custom) {
    max-width: 100%!important;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
$sidebarWidth = 18rem
.theme-default-content:not(.custom) {
    max-width: 100%!important;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
.page-edit, .page-nav{
  max-width: initial;
}
table{
  margin:auto;
}

@media print {
  .navbar,.page-edit,.page-nav{
    display: none;
  }
  .no-print {
    display: none; /* 隐藏不需要打印的元素 */
  }
  .page-break {
    page-break-before: always; /* 在元素之前插入分页符 */
  }
}
.text {
    background-color: inherit;
    text-align: inherit;
}
